<h3>以下の内容で、送信する</h3>

<%= form_with(model: @contact, local: true) do |form| %>
    <%= form.hidden_field :name %>
    <%= form.hidden_field :email %>
    <%= form.hidden_field :content %>

    <p>名前：<%= @contact.name %></p>
    <p>eメール：<%= @contact.email %></p>
    <p>内容：<%= @contact.content %></p>
    <%= form.submit "登録する" %>
    <%= form.submit "戻る", name: 'back' %>
<% end %>

